{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

<h2>BatchQueue (pandaq) view</h2>

<div class=row-fluid>
<dl class="dl-horizontal dl-compact">
  <dt>Batch queue</dt>
  {% if pandaq.name %}
    <dd>{{ pandaq }}
  {% else %}
    <dd class=muted>&lt;no name!&gt; id={{ pandaq.id }}
  {% endif %}
  <dt>WMS queue</dt>
  <dd>{{ pandaq.wmsqueue|default:"-" }}
  <dt>Site</dt>
  <dd><a href="http://atlas-agis.cern.ch/agis/atlassite/main/{{ pandaq.wmsqueue.site }}/">{{ pandaq.wmsqueue.site|default:"-" }}</a>
  <dt>State</dt>
  <dd class={{ pandaq.state }}>{{ pandaq.state }}
  <dt>Links</dt>
  <dd>
  <ul class="inline">
    <li><a href="http://atlas-agis.cern.ch/agis/pandaqueue/detail/{{ pandaq }}/full/">agis</a>
    <li><a href="http://bigpanda.cern.ch/site/{{ pandaq }}">bigpandamon</a>
    <li><a href="http://dashb-atlas-ssb.cern.ch/dashboard/request.py/sitehistory?site={{ pandaq.wmsqueue.site }}#currentView=Shifter+view">ssb</a>
    <li><a href="http://bigpanda.cern.ch/logger/?category=panda.mon.jedi&type=prod_brokerage|analy_brokerage&site={{ pandaq }}&hours=2">brokering</a>
  </ul>
</dl>
</div>


<div class=row-fluid>
<div class=span8>
<table class="table table-compact table-striped">
<tr>
<th class=colhdr title="hover for message">Label
<th title="Factory name">factory
<th title="Count of jobs in CREATED state">created
<th title="Count of jobs in RUNNING state">running 
<th title="Count of jobs in EXITING state">exiting
<th title="Count of jobs in DONE state">done
<th title="Count of DONE jobs without payload">miss
<th title="Count of jobs in FAULT state">fault
<th>when
<th class=left>latest message
</tr>
{% for row in rows %}

<tr>
  <td class=colhdr title="{{ row.label.msg }}"><a href="{% url 'singleitem' row.label.fid.name row.label.name %}">{{ row.label }}</a>
  <td><a href="{% url 'singlefactory' row.label.fid.name %}">{{ row.label.fid }}</a>
  <td><a href="{% url 'singleitem' row.label.fid.name row.label.name %}?state=created">
    {{ row.jobcount.created }} </a>
  <td><a href="{% url 'singleitem' row.label.fid.name row.label.name %}?state=running">
    {{ row.jobcount.running }} </a>
  <td><a href="{% url 'singleitem' row.label.fid.name row.label.name %}?state=exiting">
    {{ row.jobcount.exiting }} </a>
  <td><a href="{% url 'singleitem' row.label.fid.name row.label.name %}?state=done">
    {{ row.jobcount.done }}</a>
  <td>{{ row.jobcount.miss }}
  <td><a href="{% url 'singleitem' row.label.fid.name row.label.name %}?state=fault">
    {{ row.jobcount.fault }} </a>
  <td class={{ row.activity }}>{{ row.label.last_modified|timesince_human }}
  {% ifequal row.activity 'stale' %}
    <td class="left note">-
  {% else %}
    <td class="left" title="{{ row.label.msg }}">{{ row.reason }}
  {% endifequal %}
</tr>
{% comment %}
<tr class={% cycle "odd" "even" %}>
  <td >
  <td colspan=8>{{ row.label.msg }}
</tr>
{% endcomment %}
{% empty %}
  <tr>
  <tr class=odd>
    <td colspan=10 class=note>No Label found for this batch queue. No pilots? Auto-configuration of CERN factories using AGIS settings is only run during CERN weekday daytime hours, once per hour. If the update cron has run but you still see no pilots then check AGIS settings or email atlas-project-adc-operations-pilot-factory@cern.ch for help.
{% endfor %}

</table>
</div>
</div>


{% if page.object_list %}
<div class=row-fluid>
<div class=span10>
<table class="table table-compact table-striped table-right">
<tr>
  <th class=colhdr>Factory
  <th title="Unique jobid in this factory">job
  <th title="Current state of job">state
  <th title="Did the pilot download a payload job?">payload?
  <th title="When job was created">created
  <th title="When job was last modified">last modified
</tr>
{% for j in page.object_list %}
<tr class="{% cycle "odd" "even" %}">
  <td class=colhdr>{{ j.label.fid }}
  <td><a href={% url 'singleitem' j.label.fid.name j.cid %}>{{ j.cid }}</a>
  <td class={{ j.state.name|lower }}>{{ j.state }}
  {% if j.result == 20 %}
    <td>miss
  {% elif j.result == -1 %}
    <td>-
  {% elif j.result == 0 %}
    <td>yes
  {% else %}
    <td>\o/
  {% endif %}
  <td>{{ j.created|timesince_human}}
  <td>{{ j.last_modified|timesince_human}}
</tr>
{% endfor %}
<tr>
  <td colspan=6 class=right>
    {% if page.has_previous %}
      <a href="{% url 'pandaq' pandaq.name page.previous_page_number %}">&lt; Newer</a>
    {% endif %}
    {{ page.start_index }} - {{ page.end_index }} of {{ pages.count }}
    {% if page.has_next %}
      <a href="{% url 'pandaq' pandaq.name page.next_page_number %}">Older &gt;</a>
    {% endif %}
  </td>
</tr>
</table>
</div>
</div>
{% endif %}

{% endblock %}
