{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

{% comment %}
{% endcomment %}
<h3>List of queues with high number of pilot faults</h3>
<p>

This page is intended to highlight queues which have problems with basic job
submission from the pilot factories.  The solution is either with the site
admins or with the cloud support. These errors are unseen by the production
system but can degrade the factories so fixing these problems is welcome.</p>

<p>
For brevity only several queues are listed and these most likely need some
action. A little investigation is required to understand the errors but
typically the errors on all FAULT jobs are the same. A rough procedure is to do
the following:

<ol>
<li>Click on the 'fault' count to show jobs for that Label
<li>Click the ID of a recent job
<li>Click on stdlog to see condor log
<li>If an error is seen such as CREAM ERROR, report via GGUS to the site with link to the stdlog and include the short error message with the ticket.
<li>If necessary, feel free to include <a href="mailto:atlas-adc-expert@cern.ch">ADC Experts</a> in the ticket
</ol>
</p>

<div class=row-fluid>
<div class=span8>
<table class="table table-compact">
<tr>
<th title="Label name, unique to each factory">Site
<th title="Compute resource endpoint">Resource
<th title="Factory name">factory
<th class=num title="Number of jobs in created state">created
<th class=num title="Number of jobs in done state">done
<th class=num title="Number of jobs in fault state">fault
<th class=num title="Fraction of jobs in fault state">%
</tr>
{% for row in results %}

<tr>
  <td nowrap><a href="{% url 'site' row.site %}">{{ row.site }}</a>
  <td nowrap>{{ row.resource }}
  <td><a href="{% url 'singlefactory' row.factory %}">{{ row.factory }}</a>
  <td class=num>{{ row.created }}
  <td class=num><a href="{% url 'singleitem' row.factory row.name %}?state=done">{{ row.done }}</a>
  <td title={{ row.rfault }} class=num><a href="{% url 'singleitem' row.factory row.name %}?state=fault">{{ row.fault }}</a>
  <td class=num>{{ row.per }}
{% endfor %}
</table>
</div>
</div>

{% endblock %}
