{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

{% comment %}
This is a template for the new UI, getting data via API
{% endcomment %}



<h3>Label view</h3>

<div class=row-fluid>
<table class="table table-compact table-strong">
  <tbody>
  <tr>
  <td>Label
  <td>{{ label }} (<a href="{% url 'label' lid %}">json</a>)
  <tr>
  <td>Factory
  <td><a href="{% url 'factory' label.fid.id %}">{{ label.fid }}</a>
  <tr>
  <td>Batch queue
  {% if label.batchqueue.name %}
    <td><a href="{% url 'pandaq' label.batchqueue.id %}">{{ label.batchqueue }}</a>
  {% else %}
    <td class=muted>&lt;unknown&gt;
  {% endif %}
  <tr>
  <td>Resource
  {% if resource %}
    <td>{{ resource }}
  {% else %}
    <td>-
  {% endif %}
  <tr>
  <td>Last modified
  <td>{{ label.last_modified|timesince_human }}
  <tr>
  <td>Counts
  <td>
  <ul class="inline">
    <li>created:<a href="{% url 'jobs1' label.id 'CREATED' %}">{{ counts.created }}</a>
    <li>running:<a href="{% url 'jobs1' label.id 'RUNNING' %}">{{ counts.running }}</a>
    <li>exiting:<a href="{% url 'jobs1' label.id 'EXITING' %}">{{ counts.exiting }}</a>
    <li>done:<a href="{% url 'jobs1' label.id 'DONE' %}">{{ counts.done }}</a>
    <li>fault:<a href="{% url 'jobs1' label.id 'FAULT' %}">{{ counts.fault }}</a>
  </ul>
  <tr>
  <td>
    <abbr rel="tooltip" data-original-title="Number of jobs created over the last 2 hrs (5 minute buckets)">Activity</abbr>
  <td id=spark>
  <tr>
  <td>Last message
  {% if label.msg %}
    <td class={{ status }}>{{ label.msg }} <a data-toggle="collapse" data-target="#more">&raquo;</a>
  {% else %}
    <td>-
  {% endif %}
  <div id="more" class="collapse">
    <ul class="unstyled muted"
      {% for msg in msgs %}
        <li>{{ msg }}
      {% endfor %}
    </ul>
  </div>
  <tbody>
</table>
</div>

<div class=row-fluid>
<div class=span8>
<table class="table table-compact table-striped">
<tr>
  <th>Job
  <th>state
  <th>payload?
  <th>created
  <th>last modified
</tr>
{% for j in page.object_list %}
<tr class="{% cycle odd,even %}">
  <td><a href={% url 'job1' j.label.fid.id j.cid %}>{{ j.cid }}</a>
  <td class={{ j.state.name|lower }}>{{ j.state }}
  {% if j.result == 20 %}
    <td>miss
  {% elif j.result == 0 %}
    <td>yes
  {% elif j.result == -1 %}
    <td>-
  {% else %}
    <td>{{ j.result }}
  {% endif %}
  <td>{{ j.created|timesince_human}}
  <td>{{ j.last_modified|timesince_human}}
</tr>
{% endfor %}
<tr>
  <td colspan=6 class=right>
    {% if page.has_previous %}
      <a href="{% url 'pandaq' pandaq.id page.previous_page_number %}">&lt; Newer</a>
    {% endif %}
    {{ page.start_index }} - {{ page.end_index }} of {{ pages.count }}
    {% if page.has_next %}
      <a href="{% url 'pandaq' pandaq.id page.next_page_number %}">Older &gt;</a>
    {% endif %}
  </td>
</tr>
</table>
</div>
</div>

<script>

var data = {{ activity }}
var width = 144;
var height = 12;
var padding = 0.2;
var ymargin = 1;

// scale for x axis
var w = d3.scale.linear()
    .domain([-2, 0])
    .range([0, width]);

// scale bar position
var x = d3.scale.ordinal()
    .domain(d3.range(data.length))
    .rangeBands([0, width], padding);

// scale bar height to data maximum
var y = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, height]);

var spark = d3.select("#spark").append("svg")
    .attr("width", width+32)
    .attr("height", height+6)
  .append("g")
    .attr("transform", "translate(1,4)");

spark.append("line")
    .attr("x1", w(-2))
    .attr("x2", w(0))
    .attr("y1", height-ymargin)
    .attr("y2", height-ymargin)
    .style("stroke", "#ccc");

spark.append("text")
    .attr("x", w(0)+x.rangeBand())
    .attr("y", height-ymargin)
    .attr("fill", "#ccc")
    .attr("title","Number of jobs created in last 5 minutes")
    .text(data[data.length-1]);

spark.selectAll("rect")
    .data(data)
  .enter().append("rect")
    .attr("x", function(d, i) { return x(i)})
    .attr("y", function(d) { return height - ymargin - y(d)})
    .attr("width", x.rangeBand())
    .attr("height", function(d) { return y(d) })
    .attr("title", function(d) { return d })
    .attr("rx", 1)
    .attr("ry", 1)
    .attr("class", "bar");

</script>


{% endblock %}
