{% load humanize %}
{% load timesince_human %}
<!DOCTYPE html">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Autopyfactory Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monitor ATLAS pilot factories and job wrappers">
    <meta name="author" content="p.love@lancaster.ac.uk">

<!--
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
-->
    <link href="/static/css/style.css" rel="stylesheet">

<!--
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
-->

</head>

<body>
    <p><a href="{% url atl.mon.views.index %}">Home</a> | 
       <a href="{% url atl.mon.views.fault %}">Fault</a> | 
       <a href="{% url atl.mon.views.cloudindex %}">Clouds</a> | 
       <a href="{% url atl.mon.views.help %}">Help</a> |
       <span style="color:#b8871e">Hover on column headers for a description</span>
{% comment %}
       <a href="{% url atl.mon.views.queues %}">Queues</a> | 
       <div style="color:#aa4343">Notice: DB maintenance in progress (Tue 14 Aug)</div>
{% endcomment %}
    </p>
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}

</body>
</html>
