{% load humanize %}
{% load timesince_human %}
<!DOCTYPE html">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Autopyfactory Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monitor ATLAS pilot factories and job wrappers">
    <meta name="author" content="p.love@lancaster.ac.uk">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>

<!--
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
-->

</head>

<body>
<div class="container">
  <ul class="nav nav-pills">
    <li>
      <a href="{% url atl.mon.views.index %}">Home</a> 
    </li>
    <li>
       <a href="{% url atl.mon.views.cloudindex %}">Clouds</a>
    </li>
    <li>
       <a href="{% url atl.mon.views.queues %}">Queues</a>
    </li>
    <li>
      <a href="{% url atl.mon.views.fault %}">Faults</a>
    </li>
    <li>
       <a href="{% url atl.mon.views.help %}">Help</a>
    </li>
{% comment %}
    <li>
       <a style="color:#aa4343">Notice: CERN factories intervention is ongoing<a>
    </li>
{% endcomment %}
  </ul>

{% comment %}
{% endcomment %}
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}

</div>
</body>
</html>
