{% load humanize %}
{% load url from future %}
{% load timesince_human %}
{% load staticfiles %}
<!DOCTYPE html">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Autopyfactory Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monitor ATLAS pilot factories and job wrappers">
    <meta name="author" content="p.love@lancaster.ac.uk">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("abbr[rel=tooltip]").tooltip({
              'selector': '',
              'placement': 'top',
              'container': 'body',
        });
      });
    </script>

</head>

<body>
<div class="container">
  <ul class="nav nav-pills">
    <li>
      <a href="{% url 'apfmon.mon.views.index' %}">Home</a> 
    </li>
    {% for cloud in clouds %}
      <li>
        <a href="{% url 'apfmon.mon.views.cloud' cloud %}">{{ cloud|lower }}</a>
      </li>
    {% endfor %}
    <li>
      <a href="{% url 'apfmon.mon.views.fault' %}">Faults</a>
    </li>
    <li>
       <a href="{% url 'apfmon.mon.views.help' %}">Help</a>
    </li>
  </ul>

    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}

</div>
</body>
</html>
