{% extends "mon/base.html" %}
{% load url from future %}
{% load timesince_human %}

{% block content %}

<h2>Cloud view - {{ cloud }}</h2>

<h4>Active factories serving this cloud</h3>
<p>
<ul style=list-style-type:none>
{% for f in factive %}
  <li><a href="{% url 'apfmon.mon.views.factory' f.id %}">{{ f }}</a>
{% endfor %}
</ul>
</p>

{% if finactive %}
<h4>Inactive factories serving this cloud</h3>
<p>
<ul style=list-style-type:none>
<li>Inactive factories serving this cloud:
{% for f in finactive %}
  <li><a href="{% url 'apfmon.mon.views.factory' f.id %}">{{ f }}</a>
{% endfor %}
</ul>
{% endif %}
</p>

<table class="table table-compact table-hover">
<tr>
<th class=colhdr title="Site name">Site
<th title="Panda queue, links to schedconfig">panda queue
<th title="Panda queue status">state
{% comment %}
<th title="When last active">activity
{% endcomment %}
<th title="Schedconfig comment">comment</tr>
{% for site in sites %}
  <tr>
    <td class=colhdr><a href="{% url 'apfmon.mon.views.site' site.id %}">{{ site }}</a>
  </tr>

  {% for row in rows %}
  {% ifequal row.site.name site.name %}
  <tr class="{{ row.class }} {% cycle odd,even %}">
    <td style=background:white>
    <td class="{{ row.class }}" title="{{ row.pandaq.type }}">
      <a href="{% url 'apfmon.mon.views.pandaq' row.pandaq.id %}">{{ row.pandaq }}</a>
      (<a href="http://panda.cern.ch/server/pandamon/query?tp=queue&id={{ row.pandaq.name }}">p</a>)
    <td class="{{ row.class }}">{{ row.pandaq.state }}
{% comment %}
    <td class=note>{{ row.pandaq.last_modified|timesince_human }}
{% endcomment %}
    {% if row.url %}
      <td class="note {{ row.class }}"
          title="{{ row.pandaq.last_modified|timesince_human }}">
         {{ row.prefix }}<a href="{{ row.url }}">{{ row.suffix }}</a>
    {% else %}
      {% ifequal row.pandaq.comment 'empty.comment' %}
        <td class="note {{ row.class }}" 
      {% else %}
        <td class="note {{ row.class }}" 
          title="{{ row.pandaq.last_modified|timesince_human }}">
          {{ row.pandaq.comment }}
      {% endifequal %}
    {% endif %}
  </tr>
  {% endifequal %}
  {% comment %}
  {% endcomment %}
  
  {% endfor %}
{% endfor %}

</table>

{% endblock %}
{% comment %}
{% endcomment %}
