{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

<h2>Factory view: {{ factory.name }}</h2>

{% comment %}
{% endcomment %}

<p>
<table class="metadata">
<tr><td>FACTORY<td>{{ factory.name }}
<tr><td>VERSION <td>{{ factory.version }}
<tr>
  <td>LAST STARTUP
  {% if factory.last_startup %}
    <td>{{ factory.last_startup|timesince_human }}
  {% else %}
    <td>-
  {% endif %}
<tr><td>LAST CYCLE <td>{{ factory.last_modified|timesince_human }} 
<tr><td>EMAIL <td>{{ factory.email }}
<tr><td>IP <td>{{ factory.ip }}
<tr><td>LOGS <td><a href={{ factory.url }}>{{ factory.url }}</a>
</table>
</p>

<p>
<img src="/media/states-4h-{{ factory.id }}-0.png" />
</p>

<table>
<tr>
<th class=colhdr title="">Factory label
<th title="count of created wrappers">created
<th title="count of running wrappers">running
<th title="count of exiting wrappers">exiting
{% comment %}
<th title="last hr">done
<th title="last hr">fault
<th class=left>last msg
{% endcomment %}
<th title="hover to see detail">last msg
</tr>
{% for row in rows %}
<tr class="{% cycle odd,even %}">
  <td class=colhdr>
    <a href="{% url atl.mon.views.label row.label.id %}">{{ row.label }}</a>
  <td class={{ row.statcr }}><a href="{% url atl.mon.views.jobs row.label.id 'CREATED' %}">{{ row.ncreated }}</a>
  <td><a href="{% url atl.mon.views.jobs row.label.id 'RUNNING' %}">{{ row.nrunning }}</a>
  <td><a href="{% url atl.mon.views.jobs row.label.id 'EXITING' %}">{{ row.nexiting }}</a>
{% comment %}
  <td><a href="{% url atl.mon.views.pandaq row.label.pandaq.id %}">{{ row.label.pandaq }}</a>
  <td class={{ row.statdone }}><a href="{% url atl.mon.views.jobs row.label.id 'DONE' %}">{{ row.ndone }}</a>
  <td class={{ row.statfault }}><a href="{% url atl.mon.views.jobs row.label.id 'FAULT' %}">{{ row.nfault }}</a>
{% endcomment %}
  <td class="{{ row.activity }}"><div title="{{ row.label.msg }}">{{ row.label.last_modified|timesince_human }}</div>
</tr>
{% endfor %}
</table>
{% endblock %}
