{% extends "mon/base.html" %}
{% load url from future %}
{% load timesince_human %}

{% block content %}

<h2>Factory view: {{ factory.name }}</h2>

<div class=row-fluid>
<dl class="dl-horizontal dl-compact">
  <dt>Factory
  <dd>{{ factory.name }}
  <dt>Version
  {% if factory.version %}
    <dd>{{ factory.version }}
  {% else %}
    <dd>-
  {% endif %}
  <dt>Last startup
  {% if factory.last_startup %}
    <dd>{{ factory.last_startup|timesince_human }}
  {% else %}
    <dd>-
  {% endif %}
  <dt>Last cycle
  <dd>{{ factory.last_modified|timesince_human }}
  <dt>Email
  {% if factory.email %}
    <dd>{{ factory.email }}
  {% else %}
    <dd>-
  {% endif %}
  <dt>Logs
  <dd><a href={{ factory.url }}>{{ factory.url }}</a>
</dl>
</div>


<table class="table table-compact table-striped">
<tr>
<th title="Unique Label name">Factory label
<th title="count of created wrappers">created
<th title="count of running wrappers">running
<th title="count of exiting wrappers">exiting
<th title="count of done wrappers, last 24h">done
{% comment %}
<th title="last hr">done
<th title="last hr">fault
<th class=left>last msg
{% endcomment %}
<th title="hover to see detail">last msg
</tr>
{% if rows %}
{% for row in rows %}
<tr class="{% cycle odd,even %}">
  <td class=colhdr>
    <a href="{% url 'apfmon.mon.views.label' row.label.id %}">{{ row.label }}</a>
  <td class={{ row.statcr }}><a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'CREATED' %}">{{ row.ncreated }}</a>
  <td><a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'RUNNING' %}">{{ row.nrunning }}</a>
  <td><a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'EXITING' %}">{{ row.nexiting }}</a>
  <td><a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'DONE' %}">{{ row.ndone }}</a>
{% comment %}
  <td><a href="{% url apfmon.mon.views.pandaq row.label.pandaq.id %}">{{ row.label.pandaq }}</a>
  <td class={{ row.statdone }}><a href="{% url apfmon.mon.views.jobs row.label.id 'DONE' %}">{{ row.ndone }}</a>
  <td class={{ row.statfault }}><a href="{% url apfmon.mon.views.jobs row.label.id 'FAULT' %}">{{ row.nfault }}</a>
{% endcomment %}
  <td class="{{ row.activity }}"><div title="{{ row.label.msg }}">{{ row.label.last_modified|timesince_human }}</div>
</tr>
{% endfor %}
{% else %}
<tr>
  <td class=fail colspan=5>No queues found</td>
</tr>
{% endif %}
</table>
</div>
</div>

{% endblock %}
