{% extends "mon/base.html" %}
{% load url from future %}
{% load timesince_human %}

{% block content %}

<h2>Service view - entries with high fraction of jobs in FAULT state</h2>

<div class=row-fluid>
<div class=span8>
<table class="table table-compact">
<tr>
<th title="Label name, unique to each factory">Label
<th title="Factory name">factory
<th class=num title="Fraction of jobs flagged">% flagged
<th class=num title="Fraction of jobs in FAULT state">% fault
<th class=num title="Fraction of jobs in FAULT state">total job count
</tr>
{% for row in rows %}

<tr class="{% cycle odd,even %}">
  <td nowrap><a href="{% url 'apfmon.mon.views.label' row.label.id %}">{{ row.label }}</a>
  <td>{{ row.label.fid }}
  <td class=num>{{ row.flagfrac }}
  <td class=num><a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'FAULT' %}">{{ row.faultfrac }}</a>
  <td class=num>{{ row.totjob }}
{% comment %}
  <td nowrap class={{ row.activity }}>{{ row.label.last_modified|timesince }} ago
</tr>
<tr class=even>
  <td></td>
  <td colspan=7 class=right>{{ row.label.msg }}
</tr>
{% endcomment %}
{% endfor %}
</table>
</div>
</div>

<h2>Service view - Panda queues with only one Factory</h2>

<div class=row-fluid>
<div class=span8>
<table class="table table-compact">
<tr>
<th title="Panda queue">Panda queue
<th class=num title="Factory count">Factory count
{% for solo in sololist %}
<tr class="{% cycle odd,even %}">
  <td nowrap><a href="{% url 'apfmon.mon.views.pandaq' solo.batchqueue__id %}">{{ solo.batchqueue__name }}
  <td class=num>{{ solo.n }}
{% endfor %}

</table>
</div>
</div>

{% endblock %}
