{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

<h2>Service view - entries with high FAULT count</h2>

<table class=text>
<tr>
<th title="Label per Factory">Label
<th title="Factory name">factory
<th title="Count of jobs in FAULT state">fault
</tr>
{% for row in rows %}

<tr class="{% cycle odd,even %}">
  <td nowrap><a href="{% url atl.mon.views.pandaq row.label.pandaq.id %}">{{ row.label }}</a>
  <td>{{ row.label.fid }}
  <td><a href="{% url atl.mon.views.jobs row.label.id 'FAULT' %}">{{ row.njob }}</a>
{% comment %}
  <td nowrap class={{ row.activity }}>{{ row.label.last_modified|timesince }} ago
</tr>
<tr class=even>
  <td></td>
  <td colspan=7 class=right>{{ row.label.msg }}
</tr>
{% endcomment %}
{% endfor %}
</table>

<h2>Service view - Panda queues with only one Factory</h2>
<table class=text>
<tr>
<th title="Panda queue">Panda queue
<th title="Factory count">Factory count
{% for solo in sololist %}
<tr class="{% cycle odd,even %}">
  <td nowrap><a href="{% url atl.mon.views.pandaq solo.pandaq__id %}">{{ solo.pandaq__name }}
  <td>{{ solo.n }}
{% endfor %}

</table>

{% endblock %}
