{% extends "mon/base.html" %}

{% block content %}

<h2>Help and information</h2>
<ul>
<li>For help, email atlas-project-adc-operations-pilot-factory@cern.ch
<li>latest panda-autopyfactory release, rpm <a href="http://svr017.gla.scotgrid.ac.uk/factory/release/apf/latest/">here</a>
</ul>
</p>
{% comment %}
{% endcomment %}

<h2>States</h2>
<ul>
<li><dfn>CREATED: condor_submit executed, condor_id returned
<li><dfn>RUNNING: pilot wrapper has started on Worker Node
<li><dfn>EXITING: pilot wrapper is finishing up on Worker Node
<li><dfn>DONE: condor jobstate is Completed (or Removed)
<li><dfn>FAULT: condor jobstate indicates a fault, or job has become stale
</ul>

{% endblock %}
