{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

<h2>ATLAS pilot factory monitor</h2>

{% comment %}
<p>
<img src="/media/states-1d-0-0.png" />
</p>
{% endcomment %}

<p>
<form action="{% url atl.mon.views.search %}" method="GET" name="search">
  <label for="q"></label>
  <input type="text" name="q" value="{{ query|escape }}">
  <input type="submit" value="Site search">
</form>
</p>

{% comment %}
<p>
<table>
<tr>
<th class="colhdr" title="Cloud name">Cloud
<th title="Active/Total number of factories serving this cloud">Factories
<th title="Number of queues configured">Queue count
</tr>
{% for row in crows %}
<tr class="{% cycle odd,even %}">
  <td class="colhdr"><a href="{% url atl.mon.views.cloud row.cloud.name %}">{{ row.cloud }}</a>
  {% if row.factories %}
    <td>{{ row.factive|length }} of {{ row.factories|length }}
  {% else %}
    <td>-
  {% endif %}
  <td>{{ row.labels|length }}
</tr>
{% endfor %}

</table>
</p>
{% endcomment %}


<p>
<table > 
<tr>
<th class=colhdr title="factoryId">Factory
<th title="jobs created in last cycle">Activity
<th title="age of last modification">When
<th title="factory version">Version
</tr>
{% for row in frows %}
<tr class="{% cycle odd,even %}">
  <td class="colhdr"><a href="{% url atl.mon.views.factory row.factory.id %}">{{ row.factory }}</a>
  <td class="{{ row.activity }}">{{ row.factory.last_ncreated }}
  <td class="{{ row.active }}">{{ row.factory.last_modified|timesince_human }}
  {% if row.factory.version %}
    <td>{{ row.factory.version }}
  {% else %}
    <td>-
  {% endif %}
</tr>
{% endfor %}

</table>
</p>

{% endblock %}
{% comment %}
{% endcomment %}
