{% extends "mon/base.html" %}

{% block title %}UK pilot factory monitor{% endblock %}

{% block content %}

<p>
<table class="metadata">
<tr>
  <td>FACTORY
  <td><a href="{% url atl.mon.views.factory job.fid.id %}">{{ job.fid }}</a>
<tr>
  <td>CONDOR_ID
  <td> {{ job.cid }} (<a href="{{ outurl }}">stdout</a>, <a href="{{ errurl }}">stderr</a>, <a href="{{ logurl }}">stdlog</a>, only recent logs)
<tr>
  <td>PANDAQ
  <td><a href="{% url atl.mon.views.pandaq job.pandaq.id %}">{{ job.pandaq }}</a>
<tr>
  <td>CREATED
  <td>{{ job.created|date:"Y-m-d H:m:s" }} ({{ job.created|timesince }} ago)
<tr>
  <td>MODIFIED
  <td> {{ job.last_modified|date:"Y-m-d H:m:s" }} ({{ job.last_modified|timesince }} ago)
<tr>
  <td>STATE
  <td>{{ job.state }}
<tr>
  <td>RESULT
  <td>{{ job.result }}
<tr>
  <td>FLAG
  <td>{{ job.flag }}
{% for pid in pids %}
<tr><td>PANDAID<td> <a href="http://panda.cern.ch:25980/server/pandamon/query?job={{ pid }}">{{ pid }}</a>
{% endfor %}

</table>
</p>

<p>
<table class=log>
{% for m in msgs %}
<tr class="{% cycle odd,even %}">
<td>{{ m.received|date:"Y-m-d H:m:s" }}
<td>{{ m.client }}
<td>{{ m.msg }}
</tr>
{% endfor %}
</table>
</p>

{% endblock %}
