{% extends "mon/base.html" %}
{% load url from future %}


{% block title %}UK pilot factory monitor{% endblock %}

{% block content %}

<h2>Job view</h2>

<div class=row-fluid>
<table class="table table-compact table-strong">
  <tbody>
  <tr>
  <td>Factory
  <td><a href="{% url 'apfmon.mon.views.singlefactory' factory.name %}">{{ factory }}</a>
  <tr>
  <td>JobID
  <td> {{ job.cid }} (<a href="{{ outurl }}">stdout</a>, <a href="{{ errurl }}">stderr</a>, <a href="{{ logurl }}">stdlog</a>)
  <tr>
  <td>Batch queue
  <td><a href="{% url 'apfmon.mon.views.pandaq' job.label.batchqueue.name %}">{{ job.label.batchqueue }}</a>
  <tr>
  <td>Label
  <td><a href="{% url 'apfmon.mon.views.singleitem' factory.name job.label.name %}">{{ job.label }}</a>
  <tr>
  <td>Resource
  {% if job.label.resource %}
    <td>{{ job.label.resource }}
  {% else %}
    <td>-
  {% endif %}
  <tr>
  <td>Created
  <td>{{ job.created|date:"Y-m-d H:i:s" }} ({{ job.created|timesince }} ago)
  <tr>
  <td>Last modified
  <td> {{ job.last_modified|date:"Y-m-d H:i:s" }} ({{ job.last_modified|timesince }} ago)
  <tr>
  <td>State
  <td>{{ job.state }}
  <tr>
  <td>Payload?
  {% if job.result == 20 %}
    <td>miss
  {% elif job.result == -1 %}
    <td>-
  {% elif job.result == 0 %}
    <td>yes
  {% else %}
    <td>\o/
  {% endif %}
  <tr>
  <td>Pilotcode
  {% ifequal job.result -1 %}
    <td>-
  {% else %}
    <td>{{ job.result }}
  {% endifequal %}
  <tr>
  <td>Flag
  <td>{{ job.flag }}
{% for pid in pids %}
  <tr>
  <td>PandaId<td> <a href="http://bigpanda.cern.ch/job?pandaid={{ pid }}">{{ pid }}</a>
{% endfor %}
</table>
</div>

<div class=row-fluid>
<div class=span6>
<table class="table table-compact">
<tr>
<td rel="tooltip" data-original-title="xxxxxxxx">{{ job.created|date:"Y-m-d H:i:s" }}
<td>{{ factory.ip }}
<td>CREATED
</tr>
{% for m in msgs %}
<tr>
<td>{{ m.received|date:"Y-m-d H:i:s" }}
<td>{{ m.client }}
<td>{{ m.msg }}
</tr>
{% endfor %}
{% comment %}
{% ifequal job.state.name 'FAULT' %}
<tr class=note>
<td class=note colspan=3>"FAULT, stale job" means the wrapper hit a timeout.
{% endifequal %}
{% endcomment %}
</table>
</div>
</div>

{% endblock %}
