{% extends "mon/base.html" %}
{% load url from future %}


{% block title %}UK pilot factory monitor{% endblock %}

{% block content %}

<div class=row-fluid>
<dl class="dl-horizontal dl-compact">
  <dt>Factory
  <dd><a href="{% url 'apfmon.mon.views.factory' factory.id %}">{{ factory }}</a>

  <dt>JobID
  <dd> {{ job.cid }} (<a href="{{ outurl }}">stdout</a>, <a href="{{ errurl }}">stderr</a>, <a href="{{ logurl }}">stdlog</a>, only recent logs)

  <dt>Batch queue
  <dd><a href="{% url 'apfmon.mon.views.pandaq' job.label.batchqueue.id %}">{{ job.label.batchqueue }}</a>

  <dt>Label
  <dd><a href="{% url 'apfmon.mon.views.label' job.label.id %}">{{ job.label }}</a>
  <dt>created
  <dd>{{ job.created|date:"Y-m-d H:i:s" }} ({{ job.created|timesince }} ago)

  <dt>Last modified
  <dd> {{ job.last_modified|date:"Y-m-d H:i:s" }} ({{ job.last_modified|timesince }} ago)

  <dt>State
  <dd>{{ job.state }}

  <dt>Payload?
  {% if job.result == 20 %}
    <dd>miss
  {% elif job.result == -1 %}
    <dd>-
  {% elif job.result == 0 %}
    <dd>yes
  {% else %}
    <dd>\o/
  {% endif %}

  <dt>Pilotcode
  {% ifequal job.result -1 %}
    <dd>-
  {% else %}
    <dd>{{ job.result }}
  {% endifequal %}

  <dt>Flag
  <dd>{{ job.flag }}
{% for pid in pids %}
  <dt>PandaId<dd> <a href="http://panda.cern.ch:25980/server/pandamon/query?job={{ pid }}">{{ pid }}</a>
{% endfor %}
</dl>
</div>

<div class=row-fluid>
<div class=span6>
<table class="table table-compact table-striped">
<tr class=odd>
<td>{{ job.created|date:"Y-m-d H:i:s" }}
<td>{{ factory.ip }}
<td>CREATED
</tr>
{% for m in msgs %}
<tr class="{% cycle even,odd %}">
<td>{{ m.received|date:"Y-m-d H:i:s" }}
<td>{{ m.client }}
<td>{{ m.msg }}
</tr>
{% endfor %}
{% comment %}
{% ifequal job.state.name 'FAULT' %}
<tr class=note>
<td class=note colspan=3>"FAULT, stale job" means the wrapper hit a timeout.
{% endifequal %}
{% endcomment %}
</table>
</div>
</div>

{% endblock %}
