{% extends "mon/base.html" %}
{% load url from future %}
{% load timesince_human %}

{% block content %}

<div class=row-fluid>
<dl class="dl-horizontal dl-compact">
  <dt>Factory
  <dd><a href="{% url 'apfmon.mon.views.factory' fid %}">{{ factoryname }}</a>

  <dt>Batch queue
  <dd><a href="{% url 'apfmon.mon.views.pandaq' pandaq.id %}">{{ pandaq }}</a>

  <dt>State
  <dd> {{ statename }}

  <dt>Count
  <dd> {{ pages.count }}

</dl>
</div>


<div class="row-fluid">
<div class=span6>
<table class="table table-compact table-striped">
<tr>
  <th class=colhdr title="unique jobid">Job
  <th title="current state of this job">state
  <th title="whether or not the pilot downloaded a job">payload?
  <th title="time since job was created">created
  <th title="time since job was last modified">last modified
</tr>
{% if page.object_list %}

{% for j in page.object_list %}
<tr class="{% cycle odd,even %}">
  <td class=colhdr><a href={% url 'apfmon.mon.views.job1' j.label.fid.id j.cid %}>{{ j.cid }}</a>
  <td class={{ j.state.name|lower }}>{{ j.state }}
  {% if j.result == 20 %}
    <td>miss
  {% elif j.result == 0 %}
    <td>yes
  {% elif j.result == -1 %}
    <td>-
  {% else %}
    <td>{{ j.result }}
  {% endif %}
  <td>{{ j.created|timesince_human }}
  <td>{{ j.last_modified|timesince_human }}
</tr>
{% endfor %}
<tr>
  <td colspan=5 class=right>
    {% if page.has_previous %}
      <a href="{% url 'apfmon.mon.views.jobs1' label.id statename page.previous_page_number %}">&lt; Newer</a>
    {% endif %}
    {{ page.start_index }} - {{ page.end_index }} of {{ pages.count }}
    {% if page.has_next %}
      <a href="{% url 'apfmon.mon.views.jobs1' label.id statename page.next_page_number %}">&gt; Older</a>
    {% endif %}
  </td>
</tr>

{% else %}
<tr>
  <td class=fail colspan=6>No jobs found</td>
</tr>
{% endif %}
</table>
</div>
</div>

{% endblock %}
