{% extends "mon/base.html" %}
{% load url from future %}
{% load timesince_human %}

{% block content %}

<h2>Label view</h2>

<div class=row-fluid>
<dl class="dl-horizontal dl-compact">
  <dt>Label</dt>
  <dd>{{ row.label }}
  <dt>Factory</dt>
  <dd><a href="{% url 'apfmon.mon.views.factory' row.label.fid.id %}">{{ row.label.fid }}</a>
  <dt>Batch queue</dt>
  {% if pandaq.name %}
    <dd><a href="{% url 'apfmon.mon.views.pandaq' pandaq.id %}">{{ pandaq }}</a></dd>
  {% else %}
    <dd class=muted><a href="{% url 'apfmon.mon.views.pandaq' pandaq.id %}">&lt;no name?, no name!&gt;</a></dd>
  {% endif %}
  <dt>Queue</dt>
  <dd>-
  <dt>Localqueue</dt>
  <dd>-
  <dt>Last modified
  <dd>{{ row.label.last_modified|timesince_human }}
  <dt>Counts
  <dd>
  <ul class="inline">
    <li>created:<a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'CREATED' %}">{{ row.jobcount.created }}</a>
    <li>running:<a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'RUNNING' %}">{{ row.jobcount.running }}</a>
    <li>exiting:<a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'EXITING' %}">{{ row.jobcount.exiting }}</a>
    <li>done:<a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'DONE' %}">{{ row.jobcount.done }}</a>
    <li>fault:<a href="{% url 'apfmon.mon.views.jobs1' row.label.id 'FAULT' %}">{{ row.jobcount.fault }}</a>
  </ul>
  <dt>Last message</dt>
  <dd class={{ row.activity }}>{{ row.label.msg }}
</dl>
</div>

<div class=row-fluid>
<div class=span8>
<table class="table table-compact table-striped">
<tr>
  <th>Job
  <th>state
  <th>payload?
  <th>created
  <th>last modified
</tr>
{% for j in page.object_list %}
<tr class="{% cycle odd,even %}">
  <td><a href={% url 'apfmon.mon.views.job1' j.label.fid.id j.cid %}>{{ j.cid }}</a>
  <td class={{ j.state.name|lower }}>{{ j.state }}
  {% ifequal j.result 20 %}
    <td>miss
  {% endifequal %}
  {% ifequal j.result 0 %}
    <td>yes
  {% endifequal %}
  {% ifequal j.result -1 %}
    <td>-
  {% endifequal %}
  <td>{{ j.created|timesince_human}}
  <td>{{ j.last_modified|timesince_human}}
</tr>
{% endfor %}
<tr>
  <td colspan=6 class=right>
    {% if page.has_previous %}
      <a href="{% url 'apfmon.mon.views.pandaq' pandaq.id page.previous_page_number %}">&lt; Newer</a>
    {% endif %}
    {{ page.start_index }} - {{ page.end_index }} of {{ pages.count }}
    {% if page.has_next %}
      <a href="{% url 'apfmon.mon.views.pandaq' pandaq.id page.next_page_number %}">Older &gt;</a>
    {% endif %}
  </td>
</tr>
</table>
</div>
</div>

{% endblock %}
