{% extends "mon/base.html" %}
{% load url from future %}
{% load timesince_human %}

{% block content %}

<h2>Label view</h2>

<div class=row-fluid>
<dl class="dl-horizontal dl-compact">
  <dt>Label</dt>
  <dd>{{ label }} (<a href="{% url 'apfmon.api.views.label' lid %}">json</a>)
  <dt>Factory
  <dd><a href="{% url 'apfmon.mon.views.factory' label.fid.id %}">{{ label.fid }}</a>
  <dt>Batch queue
  {% if label.batchqueue.name %}
    <dd><a href="{% url 'apfmon.mon.views.pandaq' label.batchqueue.id %}">{{ label.batchqueue }}</a>
  {% else %}
    <dd class=muted>&lt;unknown&gt;
  {% endif %}
  <dt>Queue
  <dd>-
  <dt>Localqueue
  <dd>-
  <dt>Last modified
  <dd>{{ label.last_modified|timesince_human }}
  <dt>Counts
  <dd>
  <ul class="inline">
    <li>created:<a href="{% url 'apfmon.mon.views.jobs1' label.id 'CREATED' %}">{{ counts.created }}</a>
    <li>running:<a href="{% url 'apfmon.mon.views.jobs1' label.id 'RUNNING' %}">{{ counts.running }}</a>
    <li>exiting:<a href="{% url 'apfmon.mon.views.jobs1' label.id 'EXITING' %}">{{ counts.exiting }}</a>
    <li>done:<a href="{% url 'apfmon.mon.views.jobs1' label.id 'DONE' %}">{{ counts.done }}</a>
    <li>fault:<a href="{% url 'apfmon.mon.views.jobs1' label.id 'FAULT' %}">{{ counts.fault }}</a>
  </ul>
  <dt>Last message</dt>
  {% if label.msg %}
    <dd class={{ status }}>{{ label.msg }}
  {% else %}
    <dd>-
  {% endif %}
  <dt>Activity</dt>
  <dd>{{ activity }}
</dl>
</div>

<div class=row-fluid>
<div class=span8>
<table class="table table-compact table-striped">
<tr>
  <th>Job
  <th>state
  <th>payload?
  <th>created
  <th>last modified
</tr>
{% for j in page.object_list %}
<tr class="{% cycle odd,even %}">
  <td><a href={% url 'apfmon.mon.views.job1' j.label.fid.id j.cid %}>{{ j.cid }}</a>
  <td class={{ j.state.name|lower }}>{{ j.state }}
  {% ifequal j.result 20 %}
    <td>miss
  {% endifequal %}
  {% ifequal j.result 0 %}
    <td>yes
  {% endifequal %}
  {% ifequal j.result -1 %}
    <td>-
  {% endifequal %}
  <td>{{ j.created|timesince_human}}
  <td>{{ j.last_modified|timesince_human}}
</tr>
{% endfor %}
<tr>
  <td colspan=6 class=right>
    {% if page.has_previous %}
      <a href="{% url 'apfmon.mon.views.pandaq' pandaq.id page.previous_page_number %}">&lt; Newer</a>
    {% endif %}
    {{ page.start_index }} - {{ page.end_index }} of {{ pages.count }}
    {% if page.has_next %}
      <a href="{% url 'apfmon.mon.views.pandaq' pandaq.id page.next_page_number %}">Older &gt;</a>
    {% endif %}
  </td>
</tr>
</table>
</div>
</div>


{% endblock %}
