.MessageBarWarning
{
    padding-left:10px;
    margin:0px;
    background:#F4A83E;
    color:#501900;
    height:35px;
    line-height:35px;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    border-bottom:2px solid #FF794A;
    display:none;
    text-align:center;
}

.MessageBarOk
{
    padding-left:10px;
    margin:0px;
    background:#CEFFCE;
    color:#006500;
    height:35px;
    line-height:35px;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    border-bottom:2px solid #009A00;
    display:none;
    text-align:center;
}

#messageBarCloseBtn
{
    cursor:pointer;
    z-index:10000;
    height:16px;
    width:16px;
    position:absolute;
    right:10px;
    top:10px;
    display:none;
}

#wrap
{
    margin:0px;
    padding:10px;
}
