<!DOCTYPE html">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Autopyfactory Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Monitor ATLAS pilot factories and job wrappers">
    <meta name="author" content="p.love@lancaster.ac.uk">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

<div class="row">
<div class="span8">
<div class="alert alert-info alert-block">
  <strong>Note:</strong> offline for now, back soon!
</div>
</div>
</div>


</body>
</html>
