{% extends "mon/base.html" %}

{% block content %}

<h2>Search results: "{{ query }}"</h2>

<div class="row">
  <div class="span6">
    <form class="well form-search" action="{% url 'apfmon.mon.views.search' %}" method="GET" name="search">
      <input type="text" class="input-large search-query" placeholder="Site or queue name" name="q" value="{{ query|escape }}">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>

<p>
{% if labels %}
<table class="table table-compact">
<th title="Name of factory">Factory
<th title="Name of site">site
<th title="Factory label name">label
<th title="Name of Panda queue">pandaqueue
<th title="age of last modification">modified
</tr>
{% for label in labels %}
<tr class="{% cycle odd,even %}">
  <td class="colhdr"><a href="{% url 'apfmon.mon.views.factory' label.fid.id %}">{{ label.fid }}</a>
  <td><a href="{% url 'apfmon.mon.views.site' label.batchqueue.wmsqueue.site.id %}">{{ label.batchqueue.wmsqueue.site }}</a>
  <td><a href="{% url 'apfmon.mon.views.label' label.id %}">{{ label }}</a>
  <td><a href="{% url 'apfmon.mon.views.pandaq' label.batchqueue.id %}">{{ label.batchqueue }}</a>
  <td>{{ label.last_modified|timesince }} ago
</tr>
{% endfor %}

</table>

{% else %}
<p>
No match in Label, WMSQueue, or BatchQueue names.
</p>
{% endif %}
</p>
{% endblock %}
