{% extends "mon/base.html" %}

{% block content %}

<h2>Search results: "{{ query }}"</h2>

<p>
<form action="{% url atl.mon.views.search %}" method="GET" name="search">
  <label for="q"></label>
  <input type="text" name="q" value="{{ query|escape }}">
  <input type="submit" value="Site search">
</form>
</p>

<p>
{% if labels %}
<table class=text>
<th class=colhdr title="Name of factory">Site
<th title="Factory label name">Label
<th title="Name of Panda queue">PandaQueue
<th title="age of last modification">When
</tr>
{% for label in labels %}
<tr class="{% cycle odd,even %}">
  <td class="colhdr"><a href="{% url atl.mon.views.site label.pandaq.pandasite.site.id %}">{{ label.pandaq.pandasite.site }}</a>
  <td><a href="{% url atl.mon.views.label label.id %}">{{ label }}</a>
  <td><a href="{% url atl.mon.views.pandaq label.pandaq.id %}">{{ label.pandaq }}</a>
  <td>{{ label.last_modified|timesince }} ago
</tr>
{% endfor %}

</table>

{% else %}
<p>
No match in Label, Site, PandaSite, or PandaQueue names.
</p>
{% endif %}
</p>
{% endblock %}
