{% extends "mon/base.html" %}

{% block content %}

<h2>Service view - factories serving each panda queue</h2>


<table>
<tr>
<th class=left title="Panda nickname">PandaQueue
<th class=left title="Number of factory entries (may be &gt; 1 per factory)">Number of factory entries
</tr>
{% for row in rows %}

<tr class="{% cycle odd,even %}">
  <td class="left {{ row.serviced }}">{{ row.pandaq }}</a>
  
  <td class=left >{{ row.count }}</a>
{% comment %}
  <td nowrap><a href="{% url atl.mon.views.factory row.label.fid.id %}">{{ row.label.fid }}</a>
  <td nowrap class={{ row.activity }}>{{ row.label.last_modified|timesince }} ago
</tr>
<tr class=even>
  <td></td>
  <td colspan=7 class=right>{{ row.label.msg }}
</tr>
{% endcomment %}
{% endfor %}



{% endblock %}
