{% extends "mon/base.html" %}
{% load timesince_human %}

{% block content %}

<h2>Site view - <a href="http://panda.cern.ch/server/pandamon/query?mode=site&site={{ site }}">{{ site }}</a> panda queues from all factories</h2>

{% ifequal plot "on" %}
  <img src="/media/states-6h-0-{{ pandaq.id }}.png"/>
{% endifequal %}


<table class=text>
<tr>
<th class=colhdr>Factory
<th>PandaQueue
<th>When
<th>Message
</tr>
{% for row in rows %}

<tr class="{% cycle odd,even %}">
  <td class=colhdr nowrap><a href="{% url atl.mon.views.factory row.label.fid.id %}">{{ row.label.fid }}</a>
  <td><a href="{% url atl.mon.views.pandaq row.label.pandaq.id %}">{{ row.label.pandaq }}</a>
  <td class={{ row.activity }}>{{ row.label.last_modified|timesince_human }}
  <td class=note>{{ row.label.msg }}
</tr>
{% comment %}
  <td class=note><div id="note" title="{{ row.label.msg }}">{{ row.label.msg }}</div>
{% endcomment %}
{% endfor %}

</table>
{% endblock %}
