{% extends "mon/base.html" %}

{% block content %}

<h2>Global view - all factories</h2>

<p>
<form action="{% url atl.mon.views.search %}" method="GET" name="search">
  <label for="q"></label>
  <input type="text" name="q" value="{{ query|escape }}">
  <input type="submit" value="Site search">
</form>
</p>

<p>
<table>
<tr>
<th>Factory
<th>Activity
<th>When
</tr>
{% for row in rows %}
<tr class="{% cycle odd,even %}">
  <td class=left><a href="{% url atl.mon.views.factory row.factory.id %}">{{ row.factory }}</a>
  <td>{{ row.factory.last_ncreated }}
  <td class={{ row.active }}>{{ row.factory.last_modified|timesince }} ago
</tr>
{% endfor %}

</table>
</p>

{% endblock %}
